{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/scrollbar.css' %}" rel="stylesheet">

{% block css %}
{% endblock %}
</head>
<body>
    {% if request.session.is_login %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">共享车位</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li id = 'appointment'><a href="appointment">预约车位</a></li>
            <li id = 'publish'><a href="publish">发布车位</a></li>
            <li id = 'order_to'><a href="order_to">我预约的订单</a></li>
            <li id = 'order_from'><a href="order_from">我接受的订单</a></li>
            <li id = 'inform'><a href="inform">通知</a></li>

            <div id = 'user_tools' class="pull-right" style="position:absolute;margin-left: 70%">
                <div id = 'row1' class="row">
                    欢迎，<strong>{{ request.session.user.phone }}</strong>
                    <button style="float:right" class="btn-sm btn-danger" onclick="logout()">注销</button>
                </div>
                <div id = 'row2' class="row">
                    余额：<strong>{{ request.session.user.remain }}</strong>&nbsp;&nbsp;&nbsp;
                    信用值：<strong>{{ request.session.user.credit }}</strong>
                </div>
            </div>
        </ul>
    </div>
    </div>
</nav>
    {% endif %}
    {% block content %}

    {% endblock %}

    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.min.js' %}"></script>

    <script>
        {% if request.session.is_login %}
            $("#{{ request.session.current_page }}").addClass("active");
            {% if request.session.previous_page != '' and request.session.current_page != request.session.previous_page %}
                $("#{{ request.session.previous_page }}").removeClass("active");
            {% endif %}
        {% endif %}

        function logout() {
            $.get("logout",{},function () {
                location.href='login'
            })
        }
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>