{% extends 'carport/base.html' %}
{% load staticfiles %}
{% block title %}通知{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10" style="height: 80px">
                {% if inform_message != "" %}
                    <div id="hint">
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            {{ inform_message }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-0 col-md-12">
                <div class="panel panel-success scrollbar" style="height: 300px;overflow-y:scroll">
                    <div class="panel-heading">
                        <h3 class="panel-title">通知</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th width="60px">通知号</th>
                              <th width="200px">创建日期</th>
                              <th width="600px">信息</th>
                              <th>状态</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for inform in inform_list %}
                                <tr class="{{ order.status }}">
                                    <td>{{ inform.id }}</td>
                                    <td>{{ inform.create_time }}</td>
                                    <td>{{ inform.message }}</td>
                                    <td>{{ inform.status }}</td>
                                    {% if order.status == 'success' %}
                                        <td>
                                            <button onclick="accept({{ inform.id }})" type="button" class="btn btn-success">接受</button>
{#                                            <button onclick="finish({{ order.id }})" type="button" class="btn btn-warning">终止</button>#}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
                {% if step_index != -1 %}
                    <div class="steps">
                    <h3 style="float: left">协商进度：</h3>
                    {% for i in negotiate_list %}
                        <div class="step ">
                            <div class="step-head">
                                <div class="step-icon">
                                    {{ i.2 }}
                                </div>
                                {% if i.2 != list_len %}

                                    <div class="step-line"></div>
                                {% endif %}
                            </div>
                            <div class="step-main">
                                {{ i.0 }}号车位
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function accept(inform_id) {
            $.get('accept',{inform_id:inform_id},function (data) {
                console.log(data);
                location.reload()
            })
        }
        function cancel(order_id){
            $.get ('cancel', {order_id:order_id},function (){
                location.reload()
            })
        }
    </script>
{% endblock %}